name: CI on all branches

  # Controls when the action will run.
# Triggers the workflow on push or pull request events on all but the master branch
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches-ignore: [ master, v** ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # BUILD
  build-backend:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Use Node.js latest
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
          cache: 'npm'
      # Runs the Build with NPM
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build NPM Build
        run: npm run build --if-present
